{% extends "bart/base.html" %} 
 
{% block content %}
    
    {{req}}
    <div class="container text-center ">
      <div class="grid text-center style="--bs-columns: 4; --bs-gap: .5rem;">
        <div class="g-col-4">
    
          <!--Card -->
          <div class="card" style="width: 18rem; grid-column: span 1=;">
            {% load static %}
            <img src="{% static 'static/image/ibrahim.png'%}" class="card-img-top" alt="...">
            <!--Content-->
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <!--link Resume-->
            <div class="card-body">
              <a href="#" class="card-link">Resume</a>
            </div>
    
          
        </div>
      </div>
   
        <div class="g-col-4">
          <!--Card2-->
          <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Light card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
    
        </div>
    
    
    
        <div class="g-col-4">
          <!--Card Skills-->
          <div class="card">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

        </div>
        <div class="g-col-6">.g-col-6</div>
      </div>
    
    
  

{% endblock %}


